.canvasBox {
  margin: 10px;
  position: relative;
  box-shadow: inset;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#peerCanvases {
  position: relative;
}

.canvasRow {
  position: absolute;
  top: 0px;
  left: 0px;
}
