.memName {
    float: left;
    font-size: inherit;
    font-weight: bold;
    border-radius: 7px;
    background-color: rgb(7, 7, 7);
    padding: 0px 10px;
    margin: 10px 5px;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 5px 3px);
}

.memNameinDeco {
    float: left;
    font-size: inherit;
    font-weight: bold;
    border-radius: 7px;
    background-color: rgb(7, 7, 7);
    padding: 0px 10px;
    margin: 0 5px;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 5px 3px);
}
