/* #takePicBtn:hover {
    transform: scale(0.6);
    transition-duration: 0.2s;
} */
/* #takePicBtn:hover {
    transform: translate(0, 0.25em);
}
#takePicBtn:hover::before {
    transform: translate3d(0, 0.5em, -1em);
}
#takePicBtn:active {
    transform: translate(0em, 0.75em);
}
#takePicBtn:active::before {
    transform: translate3d(0, 0, -1em);
} */
