.decocanvas {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 2px solid white; */
    box-shadow: inset;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
